@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/*General*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  flex: 1;
  background: #E2E8F0;
  height: 100vh;
}

/* Sidebar */

.sidebar {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #0E172A;
  width: 20%;
  min-width: 280px;
  padding:0px 7px
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.sidebar__logo {
  width: 40px;
}

.sidebar__icon {
  color: #94A3B8;
  padding-bottom: 7px;
  padding-right: 15px;
}

.sidebar__avatar {
  display: flex;
  align-self: center;
  width: 96px;
  height: 96px;
  margin-top: 100px;
  border-radius: 50%;
}

.sidebar__info {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 24px;
  width: 40%;
  height: 20px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.sidebar__info--secondary {
  color: #94A3B8;
  margin-top: 4px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
}

.sidebar__text {
  margin-top: 60px;
  margin-left: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #8370E5;
}

.sidebar__text--secondary {
  color: #94A3B8;
  font-weight: 500;
  text-transform: none;
  margin-top: 0px;
}

.sidebar__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-style: none;
  width: 83%;
  height: 44px;
  padding: 0px 23px;
  border-radius: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.006em;
  text-decoration: none;
  background-color: #0E172A;
  color: #94A3B8;
  transition: .3s ease all;
}

.sidebar__link:hover {
  background-color: #1E293B;
  text-decoration: none;
  color: #FFFFFF;
} 

.sidebar__link--users {
  margin-top: 20px;
}

.sidebar__link__text__users {
  padding-left: 21px;
}

.sidebar__link__text__curses {
  padding-left: 19px;
}
/* Sidebar */

/* Contained */

.content__wrapper {
  width: 80%;
}


.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  height: 65px;
  margin-bottom: 32px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.navbar__start {
  padding: 23px 30px;
  color: #64748B;
  text-decoration: none;
}

.navbar__start:hover {
  color: #4CB7F6;
}

nav {
  display: flex;
}

.navbar__end {
  display: flex;
  flex-direction: row;
  align-items: center;
  Height: 18px;
  padding: 23px 35px;
  color: #64748B;
  text-decoration: none;
}

.navbar__end:hover {
  color: #4CB7F6;
}

/* Conteiner */

.conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card__text__main {
  color: #2D2D2D;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.021em;
  width: 100%;
  margin-bottom: 32px;
  margin-left: 16%;
}

/* Card Main */

.card__main {
  width: 723px;
  max-width: 723px;
  background: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  border-color: #F1F5F9;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  padding: 39px 30px;
}

.card__text__access {
  color: #2D2D2D;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.017em;
}

.card__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__form input {
  background-color: #FFFFFF;
  color: #2D2D2D;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: #DAE0E8;
  padding: 12px 16px;
}

.user input {
  background-image: url(/assets/Icon-input.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 44px;
}

.card__form input:focus-visible {
  outline: 0;
}

.card__form input::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.006em;
  color: #B6BBC1;
}

fieldset {
  display: flex;
  border: none;
  width: 47%;
  flex-direction: column;
}

.card__formWrapper.user {
  width: 100%;
  margin-bottom: 41px;
}

.card__formLabel {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.006em;
  color: #2D2D2D;
  margin-bottom: 8px;
}

hr {
  width: 100%;
  height: 0px;
  margin-top: 31px;
  border-style: solid;
  border-width: 1px;
  border-color: #E2E8F0;
}

/* Card */

.card__option__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__text__rol {
  width: 100%;
  margin-top: 22px;
  margin-bottom: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.017em;
  color: #2D2D2D;
}

.card {
  flex-direction: column;
  width: 175px;
  height: 190px;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  padding: 10px 10px;
}

ul{
  padding: 0px 24px;
}

.card--description {
  color: #2D2D2D;
  border-color: black;
  border-style: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  width: 95%;
  height: 0%;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 24px;
  padding: 0px 0px;
}

.card--leader {
  border-color: #FFC107;
}

.card--leader h3 {
  display: flex;
  justify-content: center;
  background-color: #FFC107;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  width: 35px;
  padding: 2px 8px;
  margin-top: 15px;
  margin-bottom: 16px;
  margin-left: 24px;
  border-radius: 4px;
}

.card--teacher {
  border-color: #4CB7F6;
}

.card--teacher h3 {
  display: flex;
  justify-content: center;
  background-color: #4CB7F6;
  color: #FFFFFF;
  width: 64px;
  padding: 2px 8px;
  margin-top: 15px;
  margin-bottom: 16px;
  margin-left: 24px;
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}

.card--student {
  border-color: #2DD4BF;
}

.card--student h3 {
  display: flex;
  justify-content: center;
  background-color: #2DD4BF;
  color: #170D48;
  width: 65px;
  padding: 2px 8px;
  margin-top: 15px;
  margin-bottom: 16px;
  margin-left: 24px;
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}
.button__assign {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 23px;
  margin-top: 18px;
  margin-left: 70px;
  color: #4528D8;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.006em;
  border-radius: 6px;
}

.button__assign:hover {
  background-color: #4528D8;
  color: #FFFFFF;
}

.button__save {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  width: 65px;
  height: 25px;
  background-color: #4528D8;
  color: #FFFFFF;
  padding: 12px 24px;
  margin-top: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-right: 0px;
  margin-left: auto;
  margin-top: 30px;
  text-decoration: none;
}

.button__save:hover {
  background-color: #0077ff;
  color: #FFFFFF;
} 
/* Conteiner */

/* Contained */

/* 
* Blocks
*/
/* 

/* Avatar */
  /* .avatar {} */
  

 /* Button */
  /* .button {
    font-size: 14px;
    padding: 24px 12px;
    border-radius: 24px;
  } */

  /* Sizes */
  /* .button--sm {
    font-size: 12px;
  } */
  
  /* Variants */
  /* .button--text {
    color: indigo;
  }
  .button--contained {
    background-color: indigo;
    color: white;
  }  */
  


 /* Card */
 /* Card role */
 /* Container */ 
 /* Icon */
 /* Input */

 /* Nav */



 /* Sidebar */
 /* Typography */
