* {
  margin: 0%;
}

/*General*/

body {
  background: #E5E5E5;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

/* Menu user*/
.menu__user {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #0E172A;
  width: 400px;
  height: 937px;
}

.menu__logo {
  position: relative;
  Width: 50px;
  left: 13px;
  top: 9px;
  Height: 45px;
}

.menu__icon {
  position: relative;
  left: 350px;
  bottom: 20px;
  color: #94A3B8;
}

.menu__profile {
  position: relative;
  width: 100px;
  height: 100px;
  left: 155px;
  top: 100px;
  border-radius: 50%;
}

.menu--name {
  position: relative;
  width: 120px;
  height: 20px;
  left: 170px;
  top: 130px;
  color: #fff;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.menu--email {
  position: relative;
  color: #94A3B8;
  width: 90px;
  height: 20px;
  left: 140px;
  top: 135px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
}

.menu--dash {
  position: relative;
  top: 230px;
  color: #8370E5;
  padding: 0px 50px;
  width: 88px;
  height: 17px;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.menu--text {
  position: relative;
  top: 240px;
  color: #94A3B8;
  padding: 0px 50px;
  width: 225px;
  height: 17px;
  font-weight: 500;
  font-size: 12px;
}

.button {
  display: inline-flex;
  border-style: none;
  color: #94A3B8;
  background-color: #0E172A;
  width: 220px;
  height: 50px;
  padding: 0px 60px;
  border-radius: 10px;
  text-decoration: none;
  align-items: center;
  transition: .3s ease all;
}

.button:hover {
  background-color: #1E293B;
  text-decoration: none;
  color: #FFFFFF;
}

.button--users {
  position: relative;
  justify-content: left;
  top: 280px;
  width: 285px;
  padding: 0px 23px;
  margin: 10px 25px;
  gap: 38px;
}

.button--curses {
  position: relative;
  justify-content: left;
  top: 260px;
  width: 290px;
  padding: 0px 20px;
  margin: 10px 25px;
  gap: 35px;
}

/* Navbar */

.navbar {
  display: flex;
  position: relative;
  background-color: #fff;
  height: 65px;
  width: 1503px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);

}

.navbar__start a {
  display: inline-table;
  position: relative;
  height: 65px;
  width: 40px;
  margin: 24px 30px;
  color: #64748B;
}

.navbar__start a:hover {
  color: #4CB7F6;
}

.navbar__end a {
  display: inline-table;
  position: relative;
  margin: 24px 20px;
  left: 1220px;
  color: #64748B;
}

.navbar__end a:hover {
  color: #4CB7F6;
}

/* CARD */

.box__main {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 760px;
  height: 690px;
  bottom: 750px;
  left: 750px;
  background: #FFFFFF;
  border-style: solid ;
  border-width: 1px;
  border-color: #F1F5F9;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
}

.text__main {
  position: relative;
  color: #2D2D2D;
  bottom: 60px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.021em;
}

.card__register {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 0px 40px;
  
}

.data__access {
  color: #2D2D2D;
  position: relative;
  bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.017em;
}

.data { /* DATA GENERAL */
  flex-direction: column;
  justify-content: start;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: #DAE0E8;
  padding: 12px 25px;
}

.card__register i {
  position: relative;
  right: 10px;
}

.data input {
  border-style: none;
  background-color: #FFFFFF;
  color: #000000;
height: 20px;
}

.data__user {
  position: relative;
  color: #2D2D2D;
  bottom: 15px;
  padding: 10px 0px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.006em;
}

.data--user{
  position: relative;
  bottom: 15px;
}

.data__password {
  color: #2D2D2D;
  padding: 10px 0px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.006em;
}
.data--password{
  width: 250px;
}

.data__password__confirmation{
  position: relative;
  color: #2D2D2D;
  bottom: 83px;
  left: 370px;
  padding: 10px 0px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.006em;
}

.data--password--confirmation{
  position: relative;
  width: 250px;
  left: 370px;
  bottom: 83px;
}

hr{
  position: relative;
  bottom: 30px;
  left: 40px;
  width: 670px;
  border-style: solid;
  border-width: 1px;
  border-color: #E2E8F0;
}
/*CARD ROL*/

.card__list {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  top: 40px;
  right: 20px;
}

.card__rol {
  position: relative;
  left: 60px;
  bottom: 30px;
}

.card {
  /* CARD GENERAL */
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: #000000;
  padding: 8px;
  margin: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  gap: 16px;
}

.card--description {
  border-color: black;
  border-style: none;
  font-size: 13px;
  line-height: 17px;
  color: #2D2D2D;
  padding: 0px 10px;
  margin: 18px 0px;
}

.card--leader {
  border-color: #FFC107;
}

.card--leader h3 {
  background-color: #FFC107;
  position: relative;
  right: 50px;
  padding: 2px 8px;
  margin: 2px 64px;
  border-radius: 4px;
}

.card--teacher {
  border-color: #4CB7F6;
}

.card--teacher h3 {
  background-color: #4CB7F6;
  position: relative;
  right: 25px;
  padding: 2px 24px;
  margin: 2px 38px;
  border-radius: 4px;
}

.card--student {
  border-color: #2DD4BF;
}

.card--student h3 {
  background-color: #2DD4BF;
  padding: 2px 8px;
  border-radius: 4px;
}

.button--save {
  display: flex;
  position: relative;
  border-radius: 40px;
  top: 45px;
  left: 600px;
  width: 65px;
  height: 25px;
  background-color: #4528D8;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.button--save:hover {
  background-color: #8370E5;
  color: #FFFFFF;
}